/*悬浮导航*/
input,
button,
select,
textarea {
	vertical-align: middle;
}
.nav-top{
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid lightgray;
    box-shadow: 0 0 1px 0;
    background-color: #FFFFFF;
    display: none;
}
.nav-top-box{
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}
.fixednav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    display: block;
}
.search-box-timing,
.search-button {
	width: 100px;
	height: 40px;
	font-size: 20px;
	    padding: 0 20px;
}

.search-box-timing {
	border: 2px solid #000000;
}

.search-inp {
	width: 400px;
	height: 40px;
	border: 2px solid royalblue;
}

.search-button {
	background-color: royalblue;
	color: #fff;
	margin-left: -5px;
	cursor: pointer;
}

/*头部区域*/
.header {
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo-pic1 {
	width: 80px;
	height: 80px;
}

.logo-pic2 {
	width: 500px;
	height: 70px;
}

.nav {
	padding-top: 10px;
}

.nav>ul {
	text-align: center;
	font-size: 25px;
}

.nav>ul>li {
	float: left;
	width: 240px;
	height: 40px;
}

.nav>ul>li:hover a {
	color: blue;
}

.nav>ul>li:hover {
	border-bottom: 2px solid saddlebrown;
}
.cur{
	background-color: lightblue;
	padding: 5px 50px;
    color: blue;
    border-radius: 10px;
}
/*.active {
       color: red;
  }*/

/*banner*/

.banner-img>img {
	width: 100%;
	height: 300px;
}


/*位置条*/

.place {
	height: 30px;
	border-bottom: 2px solid #bc8423;
}

.place-w {
	float: right;
	margin-top: 5px;
}

.place-w>span>a:hover {
	color: red;
}


/*左侧内容区域*/

.content {
	padding-bottom: 30px;
}

.content-left {
	width: 400px;
	padding-top: 5px;
	float: left;
}

.content-title {
	margin: 10px 10px;
}

.sp {
	font-size: 22px;
	font-weight: 600;
	color: brown;
}

.more {
	width: 160px;
	height: 30px;
	float: right;
}

.more>img {
	margin-top: 5px;
	float: right;
}

.more>a {
	font-size: 20px;
	float: right;
	margin-top: 2px;
	color: #fff;
	margin-right: -70px;
}


/*公告*/

.public {
	margin: 0 auto;
	background-color: #99ccff;
	margin-top: 10px;
}

.public-p1 {
	margin: 10px 10px;
	padding:15px 0;
}

.public-p1>p>span {
	font-size: 18px;
	line-height: 40px;
}

.public-sp1 {
	display: block;
	float: left;
	width: 70%;
	overflow: hidden;
	/*超出隐藏*/
	white-space: nowrap;
	/*强制不换行*/
	text-overflow: ellipsis;
	/*超出省略号代替*/
}

.public-sp2 {
	float: right;
}

.public-p1>p:hover {
	color: red;
}

.public-p1>p:hover span {
	padding: 0 0 0 10px;
}


/*图书分类*/

.ul {
	margin-top: 10px;
	text-align: center;
}

.UL1 {
	width: 200px;
	float: left;
}

.UL1>li {
	height: 30px;
	width: 150px;
	margin-top: 5px;
	background-color: #fcc76c;
	display: inline-block;
}

.UL1>li:hover {
	background-color: darkgoldenrod;
}

.UL1>li>a {
	font-size: 20px;
}

.UL1>li:hover a {
	color: #fff;
}


/*右侧内容*/


.content-right {
	padding-top: 5px;
	width: 800px;
	float: right;
}


/*新书推荐*/


.newbook-ul {
	width: 800px;
	height: 280px;
}

.UL2 {
	float: left;
	margin-left: 10px;
	/*width: 350px;*/
}

.UL2>li {
	padding: 1px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 270px;
}

.UL2>li:hover {
	box-shadow: 0px 0px 30px 10px #abcdef;
}

.UL2>li>a {
	font-size: 20px;
	margin-left: 5px;
}

.UL2>li>img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
}


/*表格*/

.pic-win1 {
	float: right;
	border: 5px solid lightsteelblue;
	border-radius: 30px;
}

.pic-img {
	float: left;
	width: 200px;
	padding: 30px 0;
}
.pic-img>img{
	display: block;
	width: 200px;
	height: 200px;
}
.yincang{
	display: none;
}
.tab {
	width: 300px;
	float: right;
	border-collapse: collapse;
	border-spacing: 0;
	float: right;
	/*margin-right: 200px;*/
}

.td1 {
	width: 150px;
	height: 50px;
}

.td2 {
	width: 400px;
	height: 50px;
}


/*图书排行榜*/

.UL3 {
	width: 350px;
	margin-left: 20px;
}

.UL3>li {
	width: 300px;
	height: 48px;
	padding-top: 10px;
}

.UL3>li:hover {
	border-bottom: 2px solid red;
}

.UL3>li>img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
	margin-right:10px;
}

.UL3>li>a {
	font-size: 20px;
}

.UL3>li:hover a {
	padding: 0 0 0 5px;
	font-size: 23px;
	color: red;
}


/*页面底部*/

.down {
	height: 200px;
	background-color: #000000;
}

.down-tel {
	padding-top: 40px;
}

.down-tel>p {
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}


/*返回顶部*/

#goToTop {
	position: absolute;
    right: 20px;
    z-index: 9000;
    width: 60px;
    height: 60px;
    text-align: center;
    background: red;
    padding: 5px;
}

#goToTop a {
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	line-height: 25px;
}
/*返回按钮*/
.book-return{
	text-align: center;
	padding: 20px 0;
}
.book-return>a{
	background-color: red;
    color: #F1F1F1;
    padding: 5px;
    border-radius: 5px;
}
