.newBooks{
	padding: 30px 0;
	text-align: center;
}
.newBooks-p1{
	font-size: 30px;
	font-weight: 600;
	color: brown;
}
.newBooks-box{
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
}
.newBooks-box-left{
	width: 300px;
	height: 600px;
	background-color: #4F84B0;
}
.newBooks-box-ul{
	width: 200px;
	margin-top: 10px;
		
}
.newBooks-box-ul>li{
	width: 200px;
	margin-bottom: 10px;
}
.newBooks-type-a{
	width: 100%;
	height: 100%;
	display: block;
    padding: 7px 0;
    text-align: center;
    border: 1px solid #fff;
    border-right: 0;
    color: #fff;
}
.newBooks-type{
	background-color: #e9f2f9;
	color: #4f84b0;
}
.newBooks-box-right{
	width: 1000px;
	height: 600px;
	background-color: #e9f2f9;
}
.newBooks-tuijian{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
	height: 580px;
	border: 1px solid #000000;
}
.newBooks-tab{
	margin: 0 auto;
}
.newBooks-tab>tbody>tr{
	font-size: 16px;
	
}
.newBooks-tab>tbody>tr>td{
	width: 150px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    
}
.newBooks-tr>td>a{
	color: red;
	font-size: 12px;
}
.newBooks-tr>td>button{
	background-color: #4F84B0;
    color: #fff;
    border-radius: 7%;
    padding: 3px;
    margin-left: 6px;
}
.newBooks-tr>td>button:hover{
	background-color: #FF0000;
}








