*,
::before,
::after {
	margin: 0;
	padding: 0;
	/* 有的手机 没有改字体 */
	font-family: "microsoft yahei", "simhei", "sans-serif";
	/* 清除默认的 点击高亮效果 */
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	/* 让元素 优先考虑 自己的区域大小 */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: 12px;
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

i,
em {
	font-style: normal
}

.w{
	width: 1200px;
	margin: 0 auto;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

input,button,select {
	border: none;
	outline: none;
	/* 还有一个 移动端 专有的input外观 */
	/*很关键：将默认的select选择框样式清除*/
	-moz-appearance:none;
	-webkit-appearance: none;
	appearance: none;
}
select{
	/*在选择框的最右侧中间显示小箭头图片*/
  background: url(../../images/qian/arrow.png)no-repeat scroll right center transparent;
 /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}
select::-ms-expand { display: none; }*/
.br0 {
	border-right: 0 !important;
}

.bb0 {
	border-bottom: 0 !important;
}

.mr0 {
	margin-right: 0 !important;
}


/* 左右浮动 */

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.clearfix::before,
.clearfix::after {
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
	line-height: 0;
	height: 0;
}
