<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.back_btn input{
      width:13%;
      height:30px;
      color:#000;
      background:#69e;
      border:none;
      margin-top:10px;
      outline:none;
      font-size: 14px;
}
.back_btn input:hover{
    background: #df5799;
	color:#ffffff;
}
.rad{
    color:#fff;
    font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 20px;
    float: left;
    width: 96.7%;
    border-bottom: 1px solid #889ba0;
}


.rad p{
       float: left;
}
</style>

<title>图书借阅管理系统用户注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/logincss/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/logincss/snow.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/logincss/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<!--<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
-->
<!-- //web font -->

<script type="text/javascript" src="js/loginjs/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script> 
	<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
	<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
	<script type="text/javascript" src="js/H-ui.js"></script> 
	<script type="text/javascript" src="js/H-ui.admin.js"></script>
	<script type="text/javascript" src="js/json2.js" ></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/mask.js"></script>
    <script type="text/javascript" src="js/httpRequest.js" ></script>
    <script type="text/javascript" src="js/zcefUtils.js" ></script>
     <script type="text/javascript" src="js/form-validator.js"></script> 
    
     <script type="text/javascript">
    	//登录案件增加回车事件 
	    document.onkeydown = function () { 
			var theEvent = window.event; 
			var code = theEvent.keyCode; 
			if (code == 13) { 
			$("#btn_register").click();  
			} 
		} 
   		

		function changePassword(){
			var password=$("#userPassword").val();
			var passwordAgain=$("#userPasswordAgain").val();
			if(password!=passwordAgain){
				layer.alert("2次密码输入不匹配,请重新输入  !",{icon:5,title:'错误提示'})
				$("#userPasswordAgain").val("");
				return false;
			}
			  if(validateForm("form-myuser-register")){
					var paramSave = ZcefUtils.obtainValues("form-myuser-register");  
					var httpRequest = new HTTPRequest({
						url : "user/changePassword.ajax",
						data : paramSave, 
						successFunc : function (data) {
							if(data==1){
									layer.msg('密码修改完成,请重新登录', {
									    icon: 1,
									    time: 2000
									}, function(){
										top.location='login.html'
									}); 
							}else {
								 layer.alert("网络繁忙,请稍后再试 !",{icon:5,title:'错误提示'}) ;
								 return false;
						  }
							
						
				        }					   
					});
					
			        httpRequest.sendJSON(); 
				}
				
			  
		}
		 
		 
	
     
	</script>
</head>
<body onload="init()">
<div class="snow-container">
			  <div class="snow foreground"></div>
			  <div class="snow foreground layered"></div>
			  <div class="snow middleground"></div>
			  <div class="snow middleground layered"></div>
			  <div class="snow background"></div>
			  <div class="snow background layered"></div>
			</div>

<div class="top-buttons-agileinfo">
<!-- <a href="index.html">登录</a><a href="signup.html" class="active">注册</a> -->
</div>

<div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h2 class="sub-agileits-w3layouts">密码重置</h2>
			<form action="#" method="post" id="form-myuser-register" class="form-myuser-register">
					<input type="text" name="userPassword" id="userPassword" placeholder="请输入重置密码"   nullableError="重置密码不能为空"  MaxLength=50/>
					<input type="text" name="passwordAgain" id="userPasswordAgain" placeholder="请再次输入密码"  nullableError="重置密码不能为空" MaxLength=50/>
       
				<div class="submit-w3l">
					<input type="button" id="btn_register" value="确认" onclick="changePassword();">
				</div>
			</form>
			<div class="back_btn">
			    <input type="button"  value="返回" onclick=" window.history.go(-1);">
			</div>
		</div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
	<div class="copyright w3-agile">
		<p> © 2017  </p>
	</div>
	
</body>
</html>